# Core data science packages
numpy>=1.22.0
pandas>=1.4.0
scikit-learn>=1.0.2

# Visualization
matplotlib>=3.5.1
seaborn>=0.11.2

# Embedding models
# sentence-transformers==2.2.2 # Version updated via pip install --upgrade
sentence-transformers>=4.1.0 # Use the upgraded version
transformers>=4.41.0 # Dependency of newer sentence-transformers
tokenizers>=0.21 # Dependency of newer sentence-transformers
accelerate>=0.26.0 # Dependency of newer transformers trainer
datasets # Dependency of newer sentence-transformers fit
torch>=1.11.0
torchvision
sentencepiece
nltk

# OpenAI API Client
openai>=1.0.0 # Add openai library

# Environment Variable Loading
python-dotenv # Add dotenv library

# Dimensionality reduction and clustering
umap-learn>=0.5.3
hdbscan>=0.8.29  # For density-based clustering

# Progress bars and utilities
tqdm>=4.63.0

# Optional - for additional analyses
# openai>=0.27.0  # For OpenAI embedding API